.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

.bg-white:hover {
  background: #ececec !important;
}

.slick-list {
  overflow: visible;
}
.slick-slide {
  position: relative;
}

.modal-header .btn-close {
  margin: 0;
}

.big-spinner {
  width: 4rem;
  height: 4rem;
  border: 0.6rem solid currentColor;
  border-right-color: transparent;
}