.card-img-top{
border-radius: 3px  !important;

}

.cardItem{
    width: 12rem !important;
    height: 6.7rem !important;
    overflow: hidden !important; 
    border-radius:3px !important;
    background:#141414 !important;
    color:white !important;
    cursor: pointer;
     &:hover{
        width: 18rem !important;
        height:19rem !important;
        
     }
}
.cardMatching{
    color:rgb(14, 199, 14);
}
.cardAll,.cardHd{
    border:1px solid white !important;
    text-align: center !important;
    padding-right: 3px  !important;
    margin-right: 7px;

}
.playArrowIcon,.checkIcon,.thumbUpOffAltIcon,.thumbDownOffAltIcon{
    width:20px !important;
    height: 20px !important;
    border: rgba(255, 255, 255, 0.658) 2px solid;
    border-radius:50% !important;
    padding-left: 8px !important;
    padding-bottom: 5px !important;
    margin-right: 7px !important;

}

.cardHour{
    margin-right: 7px;
}
.icons{
    margin-top: 2px;
}
.card-title {
    margin-bottom: 1.1rem !important;}

    




